.searchForm{
  padding: 10px;
}
.search-footer {
  margin-left: 10px;
  display: flex;
  .footer-btn{
    width:100px;
    height:30px;
    font-size: 14px;
    left: 14px;
    line-height: 30px;
  }
}