.form-input-number {
  border: 1PX solid #EAF0FB !important;
  border-radius: 30PX;
  background: #fcfcfc;
  padding: 15px;
}


.form-input-number-error-border {
  border: 1PX solid red !important;
  z-index: 1;
}
