.button-list {
  display: flex !important;
}
.button-groups-item{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 70px;
  height: 30px;
  font-size: $font-size;
  line-height: 30px;
  margin-right: 10px;
}