@import "./variables-jmapp.scss";

// $primary-color: #685EA3;;
// $primary-color-end: #685EA3;

// $primary-color: #EE7E31;
// ;
// $primary-color-end: #EE7E31;
$sm-font-size: 12px;
$font-size: 14px; // 普通
$md-font-size: 16px;
$lg-font-size: 18px;

$line-height:20px;

// taro 组件使用
$lg-font-size-sm: 25px;
$lg-font-size-md: 28px;
$lg-font-size-lg: 31px;
$lg-font-size-slg: 34px;

// 第三方组件使用 组件使用
$sm-font-size-sm: 13px;
$sm-font-size-md: 15px;
$sm-font-size-lg: 17px;
$sm-font-size-slg: 19px;


$validate-message-tip-color: #f3a743;
$validate-message-waning-color: #e2e453;
$validate-message-error-color: #f31212;

// 白文本样式
$text-font-size: 14PX;
$text-font-color: #8c8c8c;

$line-spacing: 10px;
$horizontal-spacing: 20px;  // 水平方向补白
// primary
$primary-color:#4095E5;
$primary-color-end:#4095E5;
// 禁用背影
$disabled-background-color:#f1f1f1;
// 边框颜色
$border-color:#f1eaea;
// 表单边框颜色
$form-border-color:#f1eaea;

